/*
Theme Name: Twenty Twenty-Five Child
Theme URI: https://wordpress.org/themes/twentytwentyfive/
Description: Child theme for the Twenty Twenty-Five theme.
Author: Kingston Digital Media
Author URI: https://kingstondigital.ca/
Template: twentytwentyfive
Version: 1.0.0
Text Domain: twentytwentyfive-child
*/

/* Child theme overrides go here */